# Chặn các file đã biên dịch
*.exe
*.o
*.obj
*.tempCoderRunnerFile.cpp
# Chặn các thư mục rác của IDE và Debug
.vscode/
build/
Debug/
Release/
ipch/
*.db
*.opendb

# Chặn các file tạm của VS Code
tempCoderRunnerFile.cpp